.card-body {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  padding: 1.25rem;
}

*, ::after, ::before {
  box-sizing: block;
}

div {
  display: block;
}

.card {
  -webkit-box-direction: normal;
  word-wrap: break-word;
}

.comment-space {
  background-color: #f7f7f7;
}

.standard.button {
  display: inline-block;
  font: normal normal 300 1em 'Open Sans';
  color: #6c757d;
  border: 1px solid #6c757d;
  border-radius: 100px;
  padding: .5em 2em;
  background-size: 200% 100%;
}

.comment-content {
  position: relative;
	display: inline-block;
 	margin: 0.5em 0 0.5em 15px;
	padding: 7px 10px;
	min-width: 120px;
 	max-width: 100%;
 	color: #555;
	font-size: 16px;
	background: white;
  border-radius: 5px;
}

.comment-content:before{
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid white;
  -ms-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.comment-delete{
  margin: 0;
  text-align: right;
}

.comment-name{
  margin: 0;
}

.comment-space{
  background: #F7F8F9;
}

.one-comment{
  margin: 0 0 1em 0;
}

.comment-title {
  font-size: 1.5rem;
}


.comment-card {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.comment-area {
  width: 100vw;
  align-items: center;
}

.comment-space {
  background-color: #fff;
  width: 60vw;
}

.comment-box {
  width: 40vw;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
}

.comment-text {
  width: 150%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}


.form-control {
  width: 100%;
}

.standard-button {
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border-radius: 40px;
  min-width: 200px;
  background-color: #dedede;
  color :#000;
  border: 2px solid #dedede;
  margin: 10px 0px;
  padding: 1vh 7vw;
}

.standard-button:hover{
  color:rgba(255, 255, 255, 1);
  background-color:#FF69A3;
  background-position: -100% 100%;
  border:1px solid #FF69A3;
}

.comment-title {
  padding-bottom: 10px;
}

